<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hotelier - Hotel HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">info@example.com</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+012 345 6789</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                <a class="" href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="index.html" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="index.html" class="nav-item nav-link">Home</a>
                                <a href="about.html" class="nav-item nav-link">About</a>
                                <a href="service.html" class="nav-item nav-link">Services</a>
                                <a href="room.html" class="nav-item nav-link">Rooms</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a href="customer.html" class="dropdown-item active">Booking</a>
                                        <a href="team.html" class="dropdown-item">Our Team</a>
                                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                    </div>
                                </div>
                                <a href="contact.html" class="nav-item nav-link">Contact</a>
                            </div>
                            <a href="https://htmlcodex.com/hotel-html-template-pro" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Premium Version<i class="fa fa-arrow-right ms-3"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Booking Start -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>
                <span th:if="${msg}!=null" th:text="${msg}" id="success"
                      class="tin"
                      style="float: left; background-color: rgba(97,139,234,0.87);font-size: 20px"></span>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form action="/customer/search" method="get">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" placeholder="Enter Name" name="name" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="Enter phone number" name="phoneNumber"
                                   class="form-control">
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="Enter cmnd " name="citizenId" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="form-group row">
                    <div class="col-12 col-md-12 col-lg-12"
                         style="background-color: #FFFFFF;text-align:right;position: relative;">
                        <button sec:authorize="hasAnyRole('Director','SaleManager','Business')"
                                title="Add new customer"
                                class="btn btn-primary"><a style="color: white"
                                                           th:href="@{/customer/create}"><i
                                class="fa-solid fa-plus"></i></a></button>
                    </div>
                </div>
                <!--          viet bảng ở đây-->
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" style="width:100%;background-color: #dee6ee">
                        <thead style="background-color: #FFFFFF">
                        <tr>
                            <th>STT</th>
                            <th>Name</th>
                            <th>Phone number</th>
                            <th>Citizen ID</th>
                            <th>Detail</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody style="background-color: #F9F9FA">
                        <tr th:each="customer : ${customers}" th:if="${!customer.flagDelete}">
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <!--                                <td th:text="${customer.gender ? 'Male' : 'Female'}"></td>-->
                            <td th:text="${customer.citizenId}"></td>
                            <td>
                                <a th:href="@{/customer/detail/{id}(id=${customer.id})}" class="btn btn-primary"><i
                                        class="fa-solid fa-circle-info"></i></a>
                            </td>
                            <td>
                                <a sec:authorize="hasAnyRole('Director','SaleManager')" href="#"
                                   class="btn btn-danger" data-toggle="modal"
                                   th:data-target="'#deleteCustomerModal-' + ${customer.id}"><i
                                        class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <tr>
                    <td>
                        <a th:if="${customers.hasPrevious()}"
                           th:href="@{${url}(page=${customers.previousPageable().pageNumber})}"
                           class="btn btn-outline-primary">
                            <i class="fas fa-chevron-left"></i> Previous
                        </a>
                    </td>
                    <td>
                        <a th:if="${customers.hasNext()}"
                           th:href="@{${url}(page=${customers.nextPageable().pageNumber})}"
                           class="btn btn-outline-primary">
                            Next <i class="fas fa-chevron-right"></i>
                        </a>
                    </td>
                </tr>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- Booking End -->


        <!-- Booking Start -->
<!--        <div class="container-xxl py-5">-->
<!--            <div class="container">-->
<!--                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>-->
<!--                    <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>-->
<!--                </div>-->
<!--                <div class="row g-5">-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="row g-3">-->
<!--                            <div class="col-6 text-end">-->
<!--                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="img/about-1.jpg" style="margin-top: 25%;">-->
<!--                            </div>-->
<!--                            <div class="col-6 text-start">-->
<!--                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="img/about-2.jpg">-->
<!--                            </div>-->
<!--                            <div class="col-6 text-end">-->
<!--                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="img/about-3.jpg">-->
<!--                            </div>-->
<!--                            <div class="col-6 text-start">-->
<!--                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="img/about-4.jpg">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="wow fadeInUp" data-wow-delay="0.2s">-->
<!--                            <form action="/customer/create" th:object="${customer}" method="post">-->
<!--                                <input type="hidden" th:field="*{id}">-->

<!--                                <div class="form-row">-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label for="name"><strong>Name: <span style="color:red;">*</span></strong></label>-->
<!--                                        <input type="text" class="form-control" id="name" th:field="*{name}"-->
<!--                                               placeholder="Enter your first and last name"-->
<!--                                               pattern="^[\p{Lu}][\p{Ll}]{1,8}(\s([\p{Lu}]|[\p{Lu}][\p{Ll}]{1,10})){0,5}$"-->
<!--                                               required-->
<!--                                               title="The name must start with an uppercase letter followed by a lowercase letter">-->
<!--                                        <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label><strong>Gender:<span style="color:red;">*</span></strong></label>-->
<!--                                        <div style="text-align: center" class="form-row">-->
<!--                                            <div class="col-4">-->
<!--                                            </div>-->
<!--                                            <div class="col-3">-->
<!--                                                <div class="form-check col-1">-->
<!--                                                    <input class="form-check-input" type="radio" name="gender" id="male"-->
<!--                                                           th:value="true"-->
<!--                                                           th:field="*{gender}">-->
<!--                                                    <label class="form-check-label" for="male">Male</label>-->
<!--                                                </div>-->
<!--                                                <div class="form-check col-1">-->
<!--                                                    <input class="form-check-input" type="radio" name="gender" id="female"-->
<!--                                                           th:value="false"-->
<!--                                                           th:field="*{gender}">-->
<!--                                                    <label class="form-check-label" for="female">Female</label>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="form-row">-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label for="citizenId"><strong>Citizen Id:<span style="color:red;">*</span></strong></label>-->
<!--                                        <input type="text" class="form-control" id="citizenId" th:field="*{citizenId}"-->
<!--                                               placeholder="Enter Citizen Id"-->
<!--                                               required pattern="^[0-9]{12}$" title="cmnd must have 12 numbers">-->
<!--                                        <span style="color: red" th:if="${#fields.hasErrors('citizenId')}"-->
<!--                                              th:errors="*{citizenId}"></span>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label for="phoneNumber"><strong>Phone number:<span-->
<!--                                                style="color:red;">*</span></strong></label>-->
<!--                                        <div class="input-group">-->
<!--                                            <div class="input-group-prepend">-->
<!--                                                <div class="input-group-text">-->
<!--                                                    <i class="fas fa-phone"></i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"-->
<!--                                                   placeholder="Enter your phone number"-->
<!--                                                   required pattern="^0[0-9]{9}$"-->
<!--                                                   title="The phone number must start with 0 and be 10 digits">-->
<!--                                            <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}"-->
<!--                                                  th:errors="*{phoneNumber}"></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="form-row">-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label for="dayOfBirth"><strong>Birthday:<span style="color:red;">*</span></strong></label>-->
<!--                                        <input type="date" class="form-control" id="dayOfBirth" th:field="*{dayOfBirth}"-->
<!--                                               required title="Customers must be 16 years or older ">-->
<!--                                        <span style="color: red" th:if="${#fields.hasErrors('dayOfBirth')}"-->
<!--                                              th:errors="*{dayOfBirth}"></span>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label for="email"><strong>Email:<span style="color:red;">*</span></strong></label>-->
<!--                                        <div class="input-group">-->
<!--                                            <div class="input-group-prepend">-->
<!--                                                <div class="input-group-text">-->
<!--                                                    <i class="fas fa-envelope"></i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <input type="email" class="form-control" id="email" th:field="*{email}"-->
<!--                                                   placeholder="Enter email"-->
<!--                                                   required title="Email invalidate">-->
<!--                                            <span style="color: red" th:if="${#fields.hasErrors('email')}"-->
<!--                                                  th:errors="*{email}"></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label for="thumbnailURL">Up Image:</label>-->
<!--                                    <input type="hidden" id="thumbnailURL" th:field="*{image}"/>-->
<!--                                    <input id="btnThumbnailURL" type="file" class="form-control"/>-->
<!--                                    <progress id="uploader" value="0" max="100">0%</progress>-->
<!--                                </div>-->
<!--                                <div class="div">-->
<!--                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>-->
<!--                                    <a style="color: white" th:href="@{/customer}">-->
<!--                                        <button type="button" class="btn btn-secondary">Cancel-->
<!--                                        </button>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Booking End -->


        <!-- Newsletter Start -->
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div class="col-lg-10 border rounded p-1">
                    <div class="border rounded text-center p-1">
                        <div class="bg-white rounded text-center p-5">
                            <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span></h4>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Start -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a href="index.html"><h1 class="text-white text-uppercase mb-3">Hotelier</h1></a>
                            <p class="text-white mb-0">
								Download <a class="text-dark fw-medium" href="https://htmlcodex.com/hotel-html-template-pro">Hotelier – Premium Version</a>, build a professional website for your hotel business and grab the attention of new visitors upon your site’s launch.
							</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                                <a class="btn btn-link" href="">About Us</a>
                                <a class="btn btn-link" href="">Contact Us</a>
                                <a class="btn btn-link" href="">Privacy Policy</a>
                                <a class="btn btn-link" href="">Terms & Condition</a>
                                <a class="btn btn-link" href="">Support</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                                <a class="btn btn-link" href="">Food & Restaurant</a>
                                <a class="btn btn-link" href="">Spa & Fitness</a>
                                <a class="btn btn-link" href="">Sports & Gaming</a>
                                <a class="btn btn-link" href="">Event & Party</a>
                                <a class="btn btn-link" href="">GYM & Yoga</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>